---
import { getLang, getBasePathRedirectRoute } from "@utils/getLang";
const { content, imageUrl } = Astro.props;

const lang = getLang(Astro.params);

const { title, description, buttonText } = content || {};

const basePathRedirectRoute = getBasePathRedirectRoute(Astro.params)
---

<section class="py-20 sm:py-24 lg:py-32">
    <div class="relative min-h-[480px] rounded-lg overflow-hidden">
        <img class="absolute pl-20" src={imageUrl} />
        <div class="absolute inset-0 bg-gray-900/60"></div>
        <div class="relative flex h-full min-h-[480px] flex-col items-center justify-center gap-6 text-center text-white p-8">
            <h1 class="text-4xl font-extrabold tracking-tighter sm:text-5xl lg:text-6xl mt-5">{title?.[lang]}</h1>
            <p class="mt-20 pt-20 max-w-2xl text-base text-gray-200 sm:text-lg">{description?.[lang]}</p>
            <a href={`${basePathRedirectRoute}/subscribe`} class="mt-4 inline-flex items-center justify-center rounded-lg bg-[var(--primary-color)] px-6 py-3 text-base font-bold text-white transition-colors hover:bg-[color:var(--primary-color)/0.9]">
                {buttonText?.[lang]}
            </a>
        </div>
    </div>
</section>



